#can {
    border: solid 1px black;
    cursor: none;
    background-size:cover;
    position: fixed;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

main {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:1600px;
    
}

#knoppen {
    outline: solid 1px black;
    
    position:fixed;
     padding: 5px;
    box-sizing:border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    top:865px;
    background-image:url('img/wood.jpg');
    -webkit-box-shadow: 11px 11px 8px -1px rgba(0,0,0,0.48);
-moz-box-shadow: 11px 11px 8px -1px rgba(0,0,0,0.48);
box-shadow: 11px 11px 8px -1px rgba(0,0,0,0.48);
    
  
}

#grad {
    background-image:url('img/grad.png');
    background-size:contain;
}

#duck {
    background-image:url(img/duck.png);
    background-size:contain;
}

#random {
   
      
      background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
      background-size: 1800% 1800%;
      
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;}
      
      @-webkit-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-moz-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-o-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @keyframes rainbow { 
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }


#color_picker {
    outline:solid 1px black;
    width:220px;
    height: auto;
    padding:10px;
    border:solid 3px black;
    border-top:solid 20px black;
    background-image:url(img/aqua.jpg);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
}

#colorpicker {
  margin-left:13px;
  display:flex;
 
}

#color {
    display: flex;
    margin:0 auto;
}

button, #brush {
    height: 50px;
    width:50px;
    padding:7px;
    margin:2px;
    display:inline-block;
    box-sizing: content-box;
    border-radius: 50%;
    text-align:center;
}

#farb {
    background-image:url(img/aqua.jpg);
}

#green {
    background-color: green;
}

#red {
    background-color:red;

}

#yellow {
    background-color:yellow;
}

#orange {
    background-color:orange;
}

#blue {
    background-color:blue;
}

#pink {
    background-color:pink;
}

#black {
    background-color:black;
}

#white {
    background-color:white;
}

body {
    background-image:url('img/bg.jpg');
    
}

canvas {
    background-image:url(img/can.png); 
    background-size:cover;
   
}

#box {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-sizing: border-box;
border:5px solid black;
    pointer-events: none;
    }


#slider {
    width:170px;
    height:10px;
    margin:0 auto;
  
    
}

#amount {
    display: flex;
    margin:0 auto;
    margin-top:10px;
}

#brush_slider {
    background-color:red;
    padding: 5px;
    box-sizing: border-box;
    margin-top:10px;
    background-image:url('img/slijderbg.jpg');
    border:solid 3px black;
}
